@model PIN_WebAPP.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*@foreach (Product product in Model.Product)
    {
        @await Html.PartialAsync("~/Views/Shared/_ThumbnailAreaPartial.cshtml", product)

    }*@
@foreach (var product in Model.Product)
{
    <div><partial name="_ThumbnailAreaPartial" model="product" /></div>
}
