@model PIN_WebAPP.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}




    <div class="row">
        @foreach (var product in Model.Product)
        {
        <div class="col-3">

            <div><partial name="_ThumbnailAreaPartial" model="product" /></div>
        </div>
            
        }
    </div>

